mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
.example-card {
  max-width: 400px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding: auto;
}
.box div {
  width: 350px;
  height: 350px;
}
