<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Dashboard</a>
  </span>
  <span class="spacer"></span>
  <!-- <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button>{{userName}}</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul> -->
</mat-toolbar>
<div class="box">
  <div class="">
    <mat-card class="example-card">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <img mat-card-image src="assets/admin.svg" />
      <mat-card-content>
        <form
          (submit)="onLogin(loginForm)"
          #loginForm="ngForm"
          *ngIf="!isLoading"
        >
          <mat-form-field>
            <input
              matInput
              name="username"
              ngModel
              type="text"
              placeholder="USERNAME"
              #usernameInput="ngModel"
              required
              username
            />
            <mat-error *ngIf="usernameInput.invalid"
              >Please enter a valid username.</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              name="password"
              ngModel
              matInput
              placeholder="Password"
              #passwordInput="ngModel"
              required
            />
            <mat-error *ngIf="passwordInput.invalid"
              >Please enter a valid password.</mat-error
            >
          </mat-form-field>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!isLoading"
          >
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
