<br />
<mat-divider></mat-divider>

<br />
<mat-video #video title="{{title}}" [autoplay]="autoplay" [preload]="autoplay" [fullscreen]="fullScreen" [download]="download" color="accent" spinner="spin" poster="{{poster}}">
    <source matVideoSource src="{{videoUrl}}" type="video/mp4">
    <!-- <source src="tutorial.webm" type="video/webm"> -->
    <!-- <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
    <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian"> -->
</mat-video>
<br />
<mat-divider></mat-divider>

<br />