<mat-nav-list>
  <!-- <div class="profile-card">
    <div class="header">
      <h2>Shubham Mehta</h2>
      <h4>shubahm.mehta@gmail.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Soufiane FADIL"
    />
  </div> -->

  <!-- <mat-divider></mat-divider> -->

  <h2 matSubheader>Pages</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    *ngFor="let item of arr"
    routerLink="{{ item.links }}"
    >{{ item.title }}</a
  >
  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    *ngFor="let item of Tools"
    routerLink="{{ item.links }}"
  >
    <mat-icon>{{ item.icon }}</mat-icon>
    {{ item.title }}
  </a>
</mat-nav-list>
